{%extends 'mainapp/index.html'%}

{%load static%}

{%load myfilters%}
{%block title%}

StockTracker
{% endblock%}

{%block css%}
<style>


</style>
{% endblock%}

{%block body%}
   <div class="container">
    
    <h1>Live Stock Tracker - {{ ticker }}</h1>
    <table class="table-container">
    <table class="table">
        <thead>
          
          <tr>
            <th scope="col">SNo.</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Previous Close</th>
            <th scope="col">Open</th>
            
            <th scope="col">Market Cap</th>
            <th scope="col">Volume</th>
          </tr>
          
        </thead>
        <tbody>
          {% for ticker , details in data.items %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ ticker }}</td>
            <td>{{ details.current_price }}</td>
            <td>{{ details.previous_close }}</td>
            <td>{{ details.open_price }}</td>
            <td>{{ details.market_cap }}</td>
            <td>{{ details.volume }}</td>

            

            {% comment %} <td>{{key}}</td> {% endcomment %}
            {% comment %} <td>{{value|get:"Quote Price"}}</td>
            <td>{{value|get:"Previous Close"}}</td>
            <td>{{value|get:"Open"}}</td>
            <td>{{value|get:"change"}}</td>
            <td>{{value|get:"Market Cap"}}</td>
            <td>{{value|get:"Volume"}}</td> {% endcomment %}
            
          </tr>
          {%endfor%}
         
        </tbody>
      </table>
   </div>
{% endblock%}

{%block js%}
<script>


</script>

{% endblock%}